<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Save Your Liked Photos on Instagram to your Dropbox - PICBOX</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-social.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,400,300,700,900">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="header">
    PICBOX
  </div>
  <div class="container" style="padding-top: 35px; text-align: center;">
      <%- content %>
  </div>
<!-- <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
</body>

</html>
