<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Welcome to PicBox</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/stylesheets/bootstrap-social.css">

</head>

<body>
  <div class="container">
      <h1>Welcome to PicBox!</h1>
      <h4>PicBox helps you to save pictures that you liked on Instagram to your Dropbox.</h4>
      <br>
      <div style="width: 200px; float: left; margin-right: 15px;">
        <a class="btn btn-block btn-sm btn-social btn-instagram" href="/authenticate/instagram" target="_self">
            <i class="fa fa-instagram"></i> Sign in with Instagram
        </a>
      </div>
      <div style="width: 200px; float: left;">
        <a class="btn btn-block btn-sm btn-social btn-dropbox" href="/authenticate/dropbox" target="_self">
            <i class="fa fa-dropbox"></i> Sign in with Dropbox
        </a>
      </div>
  </div>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
