<style>
  div.row {
    margin-bottom: 20px;
  }
</style>
<div class="row">
  <h1>Hello <%= username %></h1>
  <p>
    <% if(lastSync) { %>
      Your last sync was <%= lastSync %>.
    <% } else { %>
      Your likes haven't been synced yet. <br>You must link both your <b>Instagram</b> and <b>Dropbox</b> accounts to let PICBOX sync your data.
    <% } %>
  </p>
</div>

<div class="row">
  <% if (!linkedIgm) { %>
    <a class="btn btn-lg btn-social btn-instagram" href="/authenticate/instagram" target="_self">
        <i class="fa fa-instagram"></i> Sign in with Instagram
    </a>
  <% } else { %>
    <a class="btn btn-lg btn-social btn-instagram" href="/unlink/instagram" target="_self">
        <i class="fa fa-instagram"></i> Unlink Instagram
    </a>
  <% } %>

  <% if (!linkedDbx) { %>
    <a class="btn btn-lg btn-social btn-dropbox" href="/authenticate/dropbox" target="_self">
        <i class="fa fa-dropbox"></i> Sign in with Dropbox
    </a>
  <% } else { %>
    <a class="btn btn-lg btn-social btn-dropbox" href="/unlink/dropbox" target="_self">
        <i class="fa fa-dropbox"></i> Unlink Dropbox
    </a>
  <% } %>
</div>

<div class="row">
    <a class="btn btn-default btn-lg" href="/logout" target="_self">
        Sign Out (<%= email %>)
    </a>
</div>
