<div class="header-main">
  <h1>PICBOX</h1>
  <h4>Automatically save photos and videos you liked on Instagram to your Dropbox</h4>
  <h5>Just link your Instagram and Dropbox accounts, and use Instagram app as you always do. Your likes will be downloaded to your Dropbox folder.</h5>
</div>
<div class="container" style="margin-top: 30px;">
  <div class="row register">
    <div class="col-md-6 col-md-offset-3 text-center">
      <a class="btn btn-success btn-lg" href="/join" target="_self" style="font-size: 27px;">Get Started</a>
    </div>
  </div>
  <div class="row login">
    <div class="col-md-6 col-md-offset-3 text-center">
      or if you already have registered, <a href="/login" target="_self">login here.</a>
    </div>
  </div>
  <div class="row contact">
    <div class="col-md-6 col-md-offset-3 text-center">
      <a class="btn btn-social btn-twitter" href="https://twitter.com/usepicbox" target="_blank"><i class="fa fa-twitter"></i>@usepicbox</a><br><br>
      You can follow us on Twitter or you can always say hello to us from <a href="mailto:hello@picbox.io">hello@picbox.io</a><br>
    </div>
  </div>
</div>
