<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Welcome to PicBox</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/stylesheets/bootstrap-social.css">

  <link href='https://fonts.googleapis.com/css?family=Lato:100,400,300,700,900' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
  <div class="header">
    PICBOX
  </div>
  <div class="container">
    <div class="promo">
      <h1>Create your free account</h1>
      <h4>PicBox helps you to save photos and videos you liked on Instagram to your Dropbox.</h4>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <form method="post" action="/join">
          <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-success btn-lg">Sign Up</button>
        </form>
      </div>
    </div>

  </div>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
